.header{
    background-color: grey;
    height: 100px;
    margin-bottom: 3%;

}

.header-font{
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #fff;
    padding-top: 25px;
    
}

.banner{
    background-color: skyblue;
    height: 650px;
}

.banner-font{
    padding-top: 250px;
    color: black;
}

.circle{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: goldenrod;
    border-radius: 50%;
    margin: 2%;

}

#section-2{
    margin-top: 100px;
    width: 99%;
    text-align: center;
}

.section-text{
    padding: 5%;
    color: black;
}

.left-side{
    background-color: grey;
    height: 550px;
    margin-bottom: 5%;
    
}

#main-content{
    padding-top: 200px;
}

.right-side{
    
    background-color: chocolate;
    height: 167px;
    margin: 0px -30px 25px 0px;
    
}

#article{
    padding-top: 50px;
    color: black;
}

.section2-font{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 7%;
    margin-bottom: -3%;
}

.rectangle {
    background-color: orangered;
    height: 300px;
    margin: 6% 4% 2%;
}


.section3-font{
    padding-bottom: 5%;
    margin-top: -7%;
}

/* Footer Section */

#footer{
    /* margin-top: 3%; */
    height: 10%;
    background-color: pink;
    text-align: center;
    padding: 2%;
}

.footer-header{
    color: black;
    padding-bottom: 3%;
}

p{
    padding-top: 1%;
    color: grey;
}