body{
    /* background-color:rgb(246, 155, 122); */
    background-image: linear-gradient(rgb(238, 144, 67), rgb(175, 21, 175));
    font-family: Arial, Helvetica, sans-serif;

    padding: 1% 5% 7%;
}
.header-font{
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 6%;
    padding-top: -2%;
    color: whitesmoke;
}

.second-header{
    font-size: 1.6rem;
    font-weight: bold;
}

@media (max-width:770px) {
    .header-font {
        font-size: 2rem;
    }

    .second-header {
        font-size: 1.3rem;
        color: #000;
    }
}

.intro-paragraph{
    color:whitesmoke;
    font-size: 1.3rem;
    line-height: 1.7;
}

#intro{
    padding: 7%;
}

.header-poster{
    margin: 3%;
    border-radius: 15px;
}

@media (min-width:992px) and (max-width:1250px){
    .header-poster{
        position: relative;
        top: 20%;
    }
}

@media (max-width:991px) and (min-width:800px){
    .header-poster{
        width: 80%;
        position: relative;
        left: 10%;
    }
}

#list {
    text-align: left;
    line-height: 20px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #34495e;
    width: 85%;
    margin: 20px auto;
    border-radius: 10px;
    background: #fff;
}

thead tr:first-child {
    background: #34495e;
    color: #fff;
    border: none;
    line-height: 40px;
}

thead tr th:last-child {
    text-align: center;
    line-height: 40px;
}

thead tr th:nth-child(3) {
    padding-left: 20px;
}

th:first-child,
td:first-child {
    padding: 0 15px 0 20px;
}

th {
    font-weight: bold;
}

thead tr:last-child th {
    border-bottom: 3px solid #ddd;
}


tbody tr:last-child td {
    border: none;
}

tbody tr td:nth-child(1) {
    width: 50px;
}

tbody tr td:nth-child(2) {
    width: 500px;
    padding-right: 10px;
}

tbody tr td:nth-child(3) {
    padding-left: 10px;
}

tbody td {
    border-bottom: 1px solid #ddd;
    height: 50px;
}

td:last-child {
    text-align: center;
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df;
}

.delete:hover {
    color: #dc2a2a;
}

td.deliver {
    color: green;
}

td.pending {
    color: red;
}

.link {
    text-decoration: none;
    color: blue;
}

.link:hover {
    color: blue;
}
