*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
}

body{
    min-height: 100vh;
    background: #2f363e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    /* width: 500px; */
    /* height: 500px; */
    background: #2f363e;
    border-radius: 20px;
    /* border: 2px solid ; */
    box-shadow: 25px 25px 75px rgb(0, 0, 0, 0.75), 10px 50px 70px rgb(0, 0, 0, 0.25),
    inset 5px 5px 10px rgb(0, 0, 0, 0.5),
    inset 5px 5px 50px rgb(255, 255, 255, 0.2),
    inset -5px -5px 15px rgb(0, 0, 0, 0.75);

    border-top-left-radius: 225px;
    border-top-right-radius: 225px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}


.clock{
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    box-shadow: 10px 50px 70px rgb(0, 0, 0, 0.25),
    inset 5px 5px 10px rgb(0, 0, 0, 0.5),
    inset 5px 5px 50px rgb(255, 255, 255, 0.2),
    inset -5px -5px 15px rgb(0, 0, 0, 0.75);
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.clock::before{
    content: "";
    /* color: white; */
    position: absolute;
    height: 8px;
    width: 8px;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 100000;
}

.clock span{
    /* font-size: 40px; */
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));

}

.clock span b{
    font-size: 2rem;
    opacity: 0.25;
    font-weight: 600;
}

.circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid rgb(0, 0, 0, 0.25);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}

.circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
    
}

.circle:nth-child(1) i{
    width: 2px;
}

.circle:nth-child(2) i{
    width: 4px;
}

.circle2{
    height: 240px;
    width: 240px;
    z-index: 9;
}

.circle3{
    height: 180px;
    width: 180px;
    z-index: 8;
}

.circle::before{
    
    content: " ";
    position: absolute;
    top: -8.5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);

}

#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0, 0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5),
    inset 5px 5px 20px rgb(255, 255, 255, 0.2),
    inset -5px -5px 15px rgb(0, 0, 0, 0.75);
}

#time div{
    position: relative;
    width: 60px;
    text-align: center;
    font-weight: 500;
    color: var(--clr);
}

#time div:nth-child(1)::after,#time div:nth-child(2)::after {
    content: ":";
    position: absolute;
    right: -4px;
}

#time div:last-child{
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#time div:nth-child(2)::after {
    animation: animate 1s steps(1) infinite;
}

@keyframes animate {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }

}

@media (min-width:340px) and (max-width:650px) {
    .clock{
        height: 300px;
        width: 300px;
    }

    .clock::before{
        width: 4px;
        height: 4px;
    }

    .clock span{
        inset: 8px;
    }

    .clock span b{
        font-size: 1.3rem;
    }

    .circle{
        width: 210px;
        height: 210px;
    }

    .circle2{
        width: 170px;
        height: 170px;
    }

    .circle3{
        width: 130px;
        height: 130px;
    }

    .circle::before{
        height: 8px;
        width: 8px;
        top: -5px;
    }

    #time{
        padding: 5px 7px;
        font-size: 1.5rem;
    }

    #time div{
        width: 45px;
    }

    #time div:last-child{
        font-size: 0.8rem;
    }

    .circle i{
        width: 5px;
    }

    .circle:nth-child(1) i{
        width: 1.5px;
    }

    .circle:nth-child(2) i{
        width: 3px;
    }

}