#bdy{ 
    margin: 3% 13%;
}

.navbar{
    margin: 0% 13%;
}
.nav-item{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 3%;
    
}

#navItem{
    padding: 3%;
    color: #fff;
}
.navbar-collapse {
    font-size: 0.5rem;
}

.image-5-1{
    margin-top: 5%;
}

.team-head{
    font-weight: bold;
    text-align: center;
    padding: 4% 0 3%;
}

 .team-image{
    border-radius: 50%;
    margin: 10%;
 }

 .about-left-side{
    background-color: gray;
    /* height: 600px; */
 }

 .about-head{
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2% 0%;
 }

 p{
    line-height: 1.8;
    /* font-weight: 600; */
    font-size: 1.2rem;
    color: #fff;
 }
 .project{
    height: 15%;
    width: 100%;
    /* margin: 0 0% 3%; */
 }

.card-title{
    font-weight: bold;
    text-align: center;
    padding: 2% 0;
}

 .card-text{
    color: black;
    /* margin-top: 23%; */
 }

 #cards{
   margin-bottom: 5%;
   box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.2);
   background-color: rgba(30, 21, 21, 0.2);
   /* transition: 0.3s; */
 }

 .card-image{
    border-radius: 5%;
    margin: 3%;
 }

 #footer {
    text-align: center;
    padding: 7% 13%;
    background-color:#2d3e50 ;
    margin-top: 5%;
}

.footer-icon {
    padding: 20px 10px;
    color: #fff;
}

.footer-icon:hover {
    color: black;
}

.footer-text {
    padding-top: 2%;
    /* font-family: "ubuntu"; */
    font-weight: 530;
    color: rgb(143, 140, 140);
    font-size: 1.1rem;
}